<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
      
    <div class="sidenav-header">
      <mat-icon>location_city</mat-icon>
      <span>SmartCity</span>
    </div>
    
    <app-menu [isMobile]="true" (linkClicked)="drawer.close()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- si se detecta que es un movil -->
    @if (isHandset$ | async) {
      <mat-toolbar class="mobile-toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span style="font-weight: 500; font-size: 1.1rem; margin-left: 10px;">SmartCity Geoportal</span>
      </mat-toolbar>
    } @else {
      <app-menu></app-menu>
    }

    <app-header></app-header>
    
    <router-outlet></router-outlet>
    
    <app-footer></app-footer>

  </mat-sidenav-content>

</mat-sidenav-container>


