asgiref
click
Django
gunicorn
h11
packaging
psycopg2[binary]
sqlparse
typing_extensions
requests
django-cors-headers
djangorestframework
six
debugpy
cryptography
django-rest-knox
pgOperations
Datetime
django-filter
drf-access-policy