<nav class="menu-nav" [class.menu-mobile]="isMobile" [class.menu-desktop]="!isMobile">
  <div class="menu-links">
    <button mat-button routerLink="home"              (click)="onLinkClick()">INICIO</button>
    <button mat-button routerLink="map"               (click)="onLinkClick()">VISOR / EDITOR CARTOGRAFÍA</button>
    <button mat-button routerLink="parques-form"      (click)="onLinkClick()">Parques</button>
    <button mat-button routerLink="contenedores-form" (click)="onLinkClick()">Contenedores Reciclaje</button>
    <button mat-button routerLink="carriles-form"     (click)="onLinkClick()">Carriles Bici</button>
    <button mat-button routerLink="about"             (click)="onLinkClick()">About</button>
  </div>

  <div class="menu-user">
    @if (authService.isAuthenticated) {
      <span class="username">{{ authService.username }}</span>
      <button mat-icon-button matTooltip="Cerrar sesión" routerLink="logout-form" (click)="onLinkClick()">
        <mat-icon style="transform:rotate(180deg);">logout</mat-icon>
      </button>
    } @else {
      <span class="username muted">Not logged in</span>
      <button mat-icon-button matTooltip="Iniciar sesión" routerLink="login-form" (click)="onLinkClick()">
        <mat-icon>login</mat-icon>
      </button>
    }
  </div>
</nav>


